@charset "UTF-8";

html {
  scroll-behavior: smooth;
}


body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #efece8;
}

img {
  border-radius: 16px;
}

a {
  text-decoration: none;
}

.content-title {
  margin-top: 1.5rem;
  color: #faf9f7;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
  text-shadow: 1px 1px 0 #66687D, -1px -1px 0 #66687D, -1px 1px 0 #66687D, 1px -1px 0 #66687D, 1px 0 0 #66687D, -1px 0 0 #66687D, 0 1px 0 #66687D, 0 -1px 0 #66687D;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #faf9f7;
  background-image: url("../images/header-sp.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 60vh;
  letter-spacing: 0.3em;
  font-weight: bold;
  text-shadow: 1px 1px 0 #66687D, -1px -1px 0 #66687D, -1px 1px 0 #66687D, 1px -1px 0 #66687D, 1px 0 0 #66687D, -1px 0 0 #66687D, 0 1px 0 #66687D, 0 -1px 0 #66687D;
  z-index: 2500;
}

  .name,
  .portfolio {
    opacity: 0;
  }

  .name {
    animation: slideRight 2s cubic-bezier(0.15, 1, 0.3, 1) forwards;
    animation-delay: 0.4s; 
  }

  .portfolio {
    animation: slideLeft 2s cubic-bezier(0.15, 1, 0.3, 1) forwards;
    animation-delay: 1.1s;
  }

  @keyframes slideRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

.sp-nav {
  position: fixed;
  display: none;
  top:0;
  left: 0;
  z-index: 10000;
  width: 100%;
  padding: 6vh;
  font-size: 1.8rem;
  text-align: center;
  background-image: url("../images/header-sp.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 60vh;
  box-sizing: border-box;
}

.sp-nav.active {
  display: block;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.25);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 1500;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.portfolio {
  font-size: 2rem;
}

  @keyframes softAppear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.hamburger-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.hamburger-button img {
  transition: 0.3s;
}

.hamburger-button.is-open img {
  transform: rotate(90deg);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem;
}

.sp-nav-list {
  color: #faf9f7;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 5rem;
}

.sp-nav-list li {
  margin-bottom: 2.5rem;
}

.sp-nav-list a {
  color: #faf9f7;
  text-decoration: none;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  background: none;
  border: none;
  color: #faf9f7;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
}

.pc-nav {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

.pc-nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pc-nav-list li {
  margin-left: 3.125rem;
  transition: transform 0.7s ease;
}

.pc-nav-list li a {
  font-weight: bold;
  color: #faf9f7;
  text-shadow: 1px 1px 0 #66687D, -1px -1px 0 #66687D, -1px 1px 0 #66687D, 1px -1px 0 #66687D, 1px 0 0 #66687D, -1px 0 0 #66687D, 0 1px 0 #66687D, 0 -1px 0 #66687D;
}

.pc-nav-list li:hover {
  transform: scale(1.1);
}


.about {
    padding: 0 1.5rem;
}

.profile-image {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image img {
  padding-bottom: 2rem;
  max-width: 55vw;
  height: auto;
}

.profile-text,
.text {
  color: #3b494a;
  font-size: 0.8rem;
  font-weight: normal;
  text-shadow: none;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 1.5em;
}

.profile-name {
  font-size: 1.3rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.works {
  margin-top: 1.5rem;
    position: relative;
  background: #f7f6f3;
  padding: 25px 0;
  z-index: 1;
}

.works-inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.works::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  width: 100vw;
  height: 140px;
  transform: translateX(-50%);

  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1920 160' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23f7f6f3' d='M0,80 C250,130 500,10 900,70 C1300,130 1600,10 1800,80 C1880,100 1920,70 1920,80 L1920,160 L0,160 Z'/%3E%3C/svg%3E");

  background-size: cover;
  background-repeat: no-repeat;
}

.works::after {
  content: "";
  position: absolute;
  bottom: -70px;
  left: 50%;
  width: 100vw;
  height: 120px;
  transform: translateX(-50%);

  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1920 160' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23f7f6f3' d='M0,80 C250,30 500,150 900,90 C1300,30 1600,150 1800,80 C1880,60 1920,90 1920,80 L1920,0 L0,0 Z'/%3E%3C/svg%3E");

  background-size: cover;
  background-repeat: no-repeat;
}

.second-title {
    display: flex;
  text-align: center;
  color: #3b494a;
  margin: 1.5rem;
    justify-content: center;
  gap: 20px;
  align-items: center;
  padding-bottom: 0.5rem;
}

.second-title::before,
.second-title::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc; /* 線の色 */
}

.work-card {
  width: 100%;
  max-width: 320px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper {
  overflow: hidden;
  height: 300px;
}

.dummy-slide {
  opacity: 0;
  pointer-events: none;
}

.work-image-link img {
  width: 100%;
  max-width: 320px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.work-image-link img:hover {
  transform: scale(0.97);
  opacity: 0.9;
}

.work-image img:active {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
  transform: translateY(0);
}

.work-tags {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap; 
  gap: 3px;
  justify-content: center;
}

.tag {
  padding: 6px 16px;
  border-radius: 999px;
  font-size: 13px;
  margin: 4px;
    white-space: nowrap;
}

.tag.blue {
  background: #9ec4d4;
  color: #f8f7f7;
}

.tag.orange {
  background-color: #d3ac77;
  color: #f8f7f7;
}
.tag.gray {
  border: 1px solid #999;
}

.work-description {
  margin: 10px 0 5px 0;
  font-size: 16px;
  color: #3b494a;
  text-align: center;
}

.more-show img,
.all-show img {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  transition: 0.5s;
  padding: 0.5rem 0 3rem;
}

.more-show img:hover,
.all-show img:hover {
  transform: scale(0.90);
}


.contact-text {
  margin: 0 auto;
  color: #3b494a;
}

.Skill {
  margin-bottom: 2.5rem;
}

.Contact {
  margin: 0 1.5rem 1rem;
  text-align: center;

}

.contact-link img {
  transition: transform 0.7s ease;
  margin: 2rem auto;

}

.contact-link img:hover {
  transform: scale(0.90);
}

.contact-link img:active {
  transform: translateY(-2px) scale(1.3);
}

.footer {
  background-image: url("../images/footer-imagepng.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: #efece8;
  text-align: center;
}

.go-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  z-index: 1000;
}

.go-top img {
  width: 3.5rem;
  display: block;
  border: none;
  transition: transform 0.7s ease;
}

.go-top img:hover {
  transform: scale(1.1);
}

.go-top a {
  -webkit-tap-highlight-color: transparent;
}

.go-top a:focus,
.go-top a:active {
  outline: none;
  background: transparent;
}

@media (min-width: 768px) {
  .content-title {
    text-align: center;
    margin-top: 4rem;
  }

  .header {
    height: 100vh;
    background-image: url("../images/header-pc.png");
  }

  .profile-image {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .profile-image img {
  max-width: 22vw;
}

  .portfolio {
    font-size: 3.5rem;
  }

  .hamburger-button {
    display: none;
  }

  .title {
    top: 50%;
    font-size: 1.8rem;
  }

  .pc-nav {
    display: block;
    font-size: 1.3rem;
  }

  .profile-text {
    width: 50%;
    margin: 3rem 0 0 3rem;
    font-size: 1rem;
    text-align: left;
  }

  .text {
    margin-top: 1rem;
    font-size: 1rem;
  }

    .works-swiper {
    margin-top: 40px;
  }

  .work-card img {
    transition: 0.3s;
  }

  .work-card:hover img {
    transform: scale(1.05);
  }

.swiper {
  margin: 0 2rem;
}

.Contact {
    margin: 4rem 1.5rem 1rem;
}

  .contact-text {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
    font-size: 1rem;
  }

  .footer {
    height: 18vh;
    align-items: flex-end;
  }

  .go-top img {
    width: 4.5rem;
  }
}